body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-color: transparent;
}

.site-title1 {
  font-size: 36px;
  text-align: center !important;
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: transparent;
  color: #000000;
}

.article{
 font-size: 10px;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #000000;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; /* Настройте ширину изображения по вашим предпочтениям */
    height: 250px; /* Настройте высоту изображения по вашим предпочтениям */
    border: 4px solid rgba(139, 49, 19, 0); /* Замените цвет на ваше предпочтение и настройте прозрачность */
    border-radius: 10px; /* Задайте радиус закругления углов */
}

.image-column {
    display: flex;
    flex-direction: column; /*row;*/
    align-items: center;
    justify-content: center;
}

.type{
  font-style: normal;
  font-size: 20px;
   text-align: center;
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
   color: #000000;/* Замените цвет на ваше предпочтение #331a00*/
   font-weight: bold;
   padding: 10px;
   margin: 10px;
   position: relative;
   display: inline-block;
}
.type:after {
        position: absolute; /* Позиционируем текст поверх фонового изображения */
        content: attr(data-text); /* Текст для отображения */
    }

/* Прозрачность фонового изображения */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/static/images/1614365331_32-p-svetlii-fon-yeda-39.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Уровень прозрачности фонового изображения */
  z-index: -1;
}
.image-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  /* Равномерное распределение */
    align-items: center;  /* Выравнивание по центру */
}
