body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: black;
}

.menu-container .navbar-nav {
  display: flex;
  flex-direction: row;
  z-index: 100;
  list-style-type: none;
  color: white;
  margin: 0 0;
  padding-top: 0;
  padding: 22px;
}

.menu-container .navbar-nav .nav-link {
  color: white;
}

.content {
  padding-top: 80px;
}

.navbar {
  margin: 0;
}

.nav-item {
  flex-grow: 1;
  margin: 0 10px;
}

.nav-link:hover {
  color: #666;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-form .btn {
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.gallery {
  background-image: url('/static/images/1586116942_edatop-edatop_ru-67.jpg');
  background-size: 150%;
}

.logo {
  width: 100px;
  height: 40px;
  margin-right: 30px;
}

.header-right {
  display: flex;
  align-items: center;
}

.included-menu {
  background-color: black;
  padding: 10px;
}

.included-menu a {
  color: white;
  text-decoration: none;
}

/* Стили для навигационного меню */
.included-menu .navbar {
  background-color: black;
}

.included-menu .navbar-nav .nav-link.login-link{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.included-menu .navbar-nav .nav-link.login-link:hover {
  background-color: #333; /* Более темный оттенок черного при наведении */
  color: #f0f0f0; /* Более светлый оттенок белого при наведении */
}
.login-btn-container {
  background-color: black;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
}
.container {
  max-width: 800px; /* Задайте желаемую ширину в пикселях или другую единицу измерения */
  margin: 0 auto;
}













