<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <title>Oceanic Keto Cuisine</title>
  <style>
    .menu-container {
        display: grid;
        grid-template-columns: 1fr auto 1fr; /* Создание трех столбцов, кнопка "Поиск" будет в середине */
        align-items: center;
    }

    .menu-buttons {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    .form-group {
      margin-bottom: 0; /* Убираем отступ снизу формы поиска */
    }

    .input-group {
      margin: auto; /* Центрируем форму поиска */
    }
  </style>
</head>

<body class="content">
  <div class="menu-container">
    <div class="menu-buttons">
      <button id="menuButton">Меню</button>
      <div id="popupMenu" class="menu-bar">
        <ul class="menu-list">
          <li><a href="/">Главная </a></li>
          <li><a href="/about/">Что такое кето в паскетарианстве?</a></li>
          <li><a href="/keto_article">Статьи про кето</a></li>
          <li><a href="/recipes/">Кето рецепты</a></li>
          <li><a href="/menu/">Примеры меню</a></li>
        </ul>
      </div>
    </div>
    <form action="{% url 'recipe_search' %}" method="get" class="mt-3">
      <div class="input-group mb-3 justify-content-center">
        <input type="text" class="form-control" placeholder="Поиск по рецептам" name="search_query" aria-label="Поиск по рецептам">
        <button class="btn btn-outline-secondary" type="submit">Поиск</button>
      </div>
    </form>
    {% include "include/nav_menu.html" %} <!-- Включение для файла nav_menu.html -->
  </div>

  <div class="content">
    <div class="container">
      {% block content %}
      <h2>{{ recipe.title }}</h2>
      <img src="{{ recipe.image }}" alt="{{ recipe.title }}">

      <h3>Ингредиенты:</h3>
      <ul>
        {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>

      <h3>Инструкции:</h3>
      <ol>
        {% for step in recipe.steps %}
        <li>{{ step }}</li>
        {% endfor %}
      </ol>
      {% endblock %}
    </div>
  </div>

  <script>
    var menuButton = document.getElementById('menuButton');
    var menuContainer = document.querySelector('.menu-container');
    var popupMenu = document.getElementById('popupMenu');

    menuButton.addEventListener('click', function() {
      popupMenu.classList.toggle('open');
    });
  </script>
</body>

</html>

















