{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_home.css' %}">
</head>

    <h1 class="site-title1 text-center">Oceanic Keto Cuisine 🥑🐟</h1>
    <h2 class="site-title2 text-center">Рецепты кето-блюд на пескетарианской диете</h2>

  <div>

    <div>
      <p class="site-title3 text-center">Пескетарианство — это, по сути, вегетарианская диета, включающая рыбу и морепродукты.
        То есть, на пескетарианской кето-диете вы должны ограничить потребление углеводов до 20-50 г в день, избегая при этом всех продуктов животного происхождения, кроме рыбы, морепродуктов, яиц и молочных продуктов.
        Что касается овощей и фруктов, то они ограничены вариантами с низким содержанием углеводов, такими как листовая зелень, овощи семейства крестоцветных, авокадо и ягоды. Разрешается употреблять большинство орехов и семян, так как в них мало чистых углеводов.</p>
    </div>
  </div>
{% endblock %}










