{% extends 'base.html' %}
{% load static %}
{% block title %}Меню - Моя Веб-Страница{% endblock %}

{% block content %}
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_menu_detail.css' %}">
</head>
  <h2 class="site-title1 text-center">Примеры меню на неделю 🥑🐟</h2>
    <div class="image-column text-center">
    <h2 class="day-title text-center"> {{ day_name  }}</h2>
    {% for meal_time, items in meal_time_groups.items %}
    <h3 class="day-title1 text-center">{{ meal_time }}</h3>
    <ul>
        {% for item in items %}
            <li class="day-title2 text-center">{{ item.recipe.title }} - {{ item.calories }} калорий</li>
        {% endfor %}
    </ul>
  {% endfor %}
   <p class="day-title1 text-center">Общая сумма калорий за день: {{ total_calories }}</p>
  </div>
{% endblock %}