{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_recipes_detail_detail.css' %}">
</head>
<div class="container">
 <div class="image-column">
    <div class="bg-image" href="{% url 'recipe_detail' recipe_title=recipe.title %}" class="type bg-image" style="background-image: url('{% static 'images/'%}{{ recipe.title }}.jpg');"></div>
 </div>
   <div class="content-column">
    <h3 class="site-title2">{{ recipe.title }}🥑🐟</h3>
    <div class="info">
      <div>
        <h3 class="site-title2">Ингредиенты:</h3>
        <p class="site-title3">{{ recipe.ingredients }}</p>
      </div>
      <div>
        <h3 class="site-title2">Инструкции:</h3>
        <p class="site-title3">{{ recipe.instructions}}</p>
      </div>
        <div>
        <h3 class="site-title2">Калории:</h3>
        <p class="site-title3">{{ recipe.calories}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Отображение существующих отзывов (перемещено вне условного блока) -->
<h3 class="site-title2">Отзывы:</h3>
{% for review in reviews %}
  <div>
    <p class="site-title3">Оценка: {{ review.rating }}</p>
    <p class="site-title3">Комментарий: {{ review.comment }}</p>
    <p class="site-title3">Пользователь: {{ review.user.username }}</p>
    <p class="site-title3">Дата: {{ review.created_at }}</p>
  </div>
{% endfor %}

{% if error_message %}
    <p class="site-title3">{{ error_message }}</p>
{% endif %}

{% if user.is_authenticated and not user_review %}
        <!-- Форма для добавления нового отзыва -->
        <div class="content-column">
        <h3 class="site-title2" >Добавить отзыв</h3>
        <div class="content-column">
        <form method="post" action="{% url 'create_review' recipe.id %}">
            {% csrf_token %}
            <label class="site-title3">Оценка:</label>
            <input type="number" name="rating" min="1" max="5" required>
            <label class="site-title3">Комментарий:</label>
            <textarea name="comment"></textarea>
            <button type="submit" class="site-title3">Отправить</button>
        </form>
        </div>
{% elif user.is_authenticated and user_review %}
    <p class="site-title3">Вы уже оставили отзыв на этот рецепт.</p>
    {% endif %}
{% endblock %}



