{% extends 'base.html' %}
{% load static %}
{% block title %}Рецепты - Моя Веб-Страница{% endblock %}

{% block content %}
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_recipes.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <h2 class="site-title1 text-center">Рецепты 🥑🐟</h2>
  <div class="image-column text-center"> <!-- добавляем дополнительный контейнер для столбца изображений -->
     <div class="slider">
      {% for dish_type in dish_types %}
    <a href="/get-recipes/?type={{ dish_type }}" class="type bg-image" style="background-image: url('{% static 'images/'%}{{ dish_type }}.jpg');" >
      {{ dish_type }}
    </a>
  {% endfor %}
   </div>
</div>
{% endblock %}















