{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_recipes_detail_detail.css' %}">
</head>

{% for recipe in recipes %}
  <div class="container">
    <div class="image-column">
      <div class="bg-image" href="{% url 'recipe_detail' recipe_title=recipe.title %}" class="type bg-image" style="background-image: url('{% static 'images/' %}{{ recipe.title }}.jpg');"></div>
    </div>
    <div class="content-column">
      <h3 class="site-title2">{{ recipe.title }}🥑🐟</h3>
      <div class="info">
        <div>
          <h3 class="site-title2">Ингредиенты:</h3>
          <p class="site-title3">{{ recipe.ingredients }}</p>
        </div>
        <div>
          <h3 class="site-title2">Инструкции:</h3>
          <p class="site-title3">{{ recipe.instructions }}</p>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <p>No recipes found.</p>
{% endfor %}

{% endblock %}

